.contacts {
  margin-top: 46px;
  padding-inline: 10px;

  &__wrapper {
    width: 100%;
    max-width: 585px;
    margin: 0 auto;
  }

  &__title {
    margin-top: 26px;
    margin-bottom: 35px;

    @media (width >= 767px) {
      margin-top: 6px;
      margin-bottom: 24px;
    }
  }

  &__svg {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: start;

    margin-block: 20px;
  }

  &__textarea-group {
    position: relative;

    width: 100%;
    margin-bottom: 28px;

    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);

    & ._error-label {
      position: absolute;
      bottom: -17px;
      left: 20px;
      color: var(--error-color);
    }
  }

  &__input-item {
    width: calc(100% - 44px);
    height: 45px;
    padding-inline: 20px;

    &._error {
      border: 2px solid var(--error-color);
    }

    &:focus ~ label {
      font-weight: var(--font-weight-bold);
    }
  }

  &__textarea-item {
    resize: none;
    width: calc(100% - 44px);
    height: 143px;
    padding: 10px 20px;

    &._error {
      border: 2px solid var(--error-color);
    }

    &:focus ~ label {
      font-weight: var(--font-weight-bold);
    }

    @media (width >= 767px) {
      height: 190px;
    }
  }

  &__textarea-label {
    position: absolute;
    top: 0;
    left: 20px;
    transform: translateY(-50%);

    padding-inline: 3px;

    background: #fff;
  }

  &__inputs-wrapper {
    @media (width >= 1280px) {
      display: flex;
      gap: 25px;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__form {
    margin-top: 30px;
  }

  &__photo {
    display: none;
    width: 400px;
    height: 600px;

    @media (width >= 920px) {
      display: block;
    }
  }

  @media (width >= 767px) {
    margin-top: 120px;
  }

  @media (width >= 920px) {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 70px;
    justify-content: space-around;
  }
}
