:root {
  --font-family-primary: Poppins, Montserrat, sans-serif;

  // line heights
  --line-height-xs: 18px;
  --line-height-s: 21px;
  --line-height-m: 24px;
  --line-height-l: 30px;
  --line-height-xl: 36px;
  --line-height-xxl: 39px;
  --line-height-xxxl: 60px;

  // font sizes
  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 20px;
  --font-size-xl: 24px;
  --font-size-xxl: 26px;
  --font-size-xxxl: 36px;
  --font-size-xxxxl: 48px;

  // font weights
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}
