.pre-title {
  position: relative;

  display: inline-block;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  letter-spacing: 0;
}

.circle-left {
  margin-left: 10px;

  &::after {
    content: '';

    position: absolute;
    z-index: -1;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);

    width: 36px;
    height: 36px;

    background-color: var(--prymary-color);
    border-radius: 9999px;
  }
}

.circle-center {
  &::after {
    content: '';

    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 36px;
    height: 36px;

    background-color: var(--prymary-color);
    border-radius: 9999px;
  }
}

.decorator-left {
  position: relative;

  &::before {
    content: '';

    position: absolute;
    bottom: -13.5px;
    left: 2px;

    width: 60px;
    height: 3px;

    background-color: var(--prymary-color);

    @media (width >= 767px) {
      bottom: -8px;
    }
  }
}

.decorator-center {
  position: relative;

  &::before {
    content: '';

    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);

    width: 60px;
    height: 3px;

    background-color: var(--prymary-color);

    @media (width >= 767px) {
      bottom: -20px;
    }
  }
}

.button {
  padding: 12px 26px;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-s);
  letter-spacing: 0;

  background-color: var(--prymary-color);
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 15%);

  transition: 0.2s;

  &:not([disabled]):hover {
    background: #ffb01b;
  }

  &:not([disabled]):active {
    scale: 0.95;
    background-color: #ee9a00;
  }
}
