.utils {
  &__pre-title {
    position: relative;

    display: inline-block;

    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-m);
  }

  &__circle-left {
    margin-left: 10px;

    &::after {
      content: '';

      position: absolute;
      z-index: -1;
      top: 50%;
      left: -10px;
      transform: translateY(-50%);

      width: 36px;
      height: 36px;

      background-color: var(--prymary-color);
      border-radius: 9999px;
    }
  }

  &__circle-center {
    &::after {
      content: '';

      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 36px;
      height: 36px;

      background-color: var(--prymary-color);
      border-radius: 9999px;
    }
  }

  &__decorator-left {
    position: relative;

    &::before {
      content: '';

      position: absolute;
      bottom: -13.5px;
      left: 2px;

      width: 60px;
      height: 3px;

      background-color: var(--prymary-color);

      @media (width >= 767px) {
        bottom: -2.5px;
      }
    }
  }

  &__decorator-center {
    position: relative;

    &::before {
      content: '';

      position: absolute;
      bottom: -13.5px;
      left: 50%;
      transform: translateX(-50%);

      width: 60px;
      height: 3px;

      background-color: var(--prymary-color);

      @media (width >= 767px) {
        bottom: -2.5px;
      }
    }
  }

  &__button {
    padding: 12px 26px;
    background-color: var(--prymary-color);
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 15%);
    transition: 0.2s;

    &:hover {
      background: #ffb01b;
    }

    &:active {
      scale: 0.95;
      background: #ee9a00;
    }
  }
}
