@font-face {
  font-family: Poppins;
  font-weight: 700;
  src: local('SF-Pro'), url('../fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins;
  font-weight: 500;
  src: local('SF-Pro'), url('../fonts/Poppins-Medium.ttf');
}
@font-face {
  font-family: Poppins;
  font-weight: 500;
  src: local('SF-Pro'), url('../fonts/Poppins-Medium.ttf');
}
@font-face {
  font-family: Montserrat;
  font-weight: 500;
  src: local('SF-Pro'), url('../fonts/Montserrat-Medium.ttf');
}
@font-face {
  font-family: Montserrat;
  font-weight: 700;
  src: local('SF-Pro'), url('../fonts/Montserrat-Bold.ttf');
}
