@import 'promo/promo';

body {
  box-sizing: border-box;
  margin: 0;
}

.container {
  position: relative;

  box-sizing: border-box;
  max-width: 1140px;
  min-height: 100vh;
  margin: 0 auto;

  border-right: 1px solid #000;
  border-left: 1px solid #000;

  &::after {
    content: '';

    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;

    width: 100vw;
    min-height: 800px;

    background: linear-gradient(to top, #bde5f9 10%, #bdd8ea);

    //radial-gradient(ellipse at bottom, #4d9f0c, transparent);
  }
}
