/* stylelint-disable */
.benefit {
  margin-top: 46px;
  text-align: center;

  &__title {
    margin-top: 5px;

    @media (max-width: 767px) {
      margin-top: 25px;
    }
  }

  &__flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: start;
    justify-content: space-between;

    margin-inline: 65px;
    padding-top: 85px;

    text-align: start;

    @media (max-width: 950px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 55px;
    }
  }

  &__resume-group {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 45px;

    box-sizing: border-box;
    width: 40%;
    margin-left: 50px;

    &::before {
      content: '';

      position: absolute;
      top: 15px;
      left: -43px;

      width: 1px;
      height: 95%;

      background: var(--text-color);
    }

    &::after {
      content: '';

      position: absolute;
      top: 9px;
      left: -50px;

      width: 15px;
      height: 15px;

      background-color: var(--prymary-color);
      border-radius: 999px;
    }

    &__title {
      position: relative;
      text-align: start;
    }

    @media (max-width: 950px) {
      width: calc(100% - 50px);
    }
  }

  &__item-title {
    position: relative;
    display: inline-block;
    margin-left: 18.6px;

    &::after {
      content: '';

      position: absolute;
      z-index: -1;
      top: 50%;
      left: -40px;
      transform: translate(-50%, -50%);

      width: 36px;
      height: 36px;

      background-color: var(--prymary-color);
      border-radius: 9999px;
    }
  }

  &__item-sub-title {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-s);
  }

  &__item-header {
    position: relative;

    display: flex;
    align-items: end;

    margin-bottom: 12px;
    padding-left: 22px;

    &::after {
      content: '';

      position: absolute;
      z-index: -3;
      top: 50%;
      left: -43px;

      width: 55px;
      height: 1px;

      background: var(--text-color);
    }
  }

  @media (max-width: 767px) {
    margin-top: 46px;

    &__flex-wrapper {
      margin-inline: 3%;
    }

    &__item {
      width: 100%;
    }

    &__paragraph {
      width: 100%;
    }
  }
}
