.benefit {
  margin-top: 46px;
  text-align: center;

  &__title {
  }

  &__flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: start;
    justify-content: space-between;

    padding-top: 85px;
    padding-inline: 65px;

    text-align: start;

    @media (width <= 950px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__resume-group {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 45px;

    box-sizing: border-box;
    width: 40%;
    margin-left: 50px;

    &::before {
      content: '';

      position: absolute;
      top: 15px;
      left: -43px;

      //transform: rotate(-90deg) translate(-50%);

      width: 1px;
      height: 95%;

      background: #000;
    }

    &::after {
      content: '';

      position: absolute;
      top: 9px;
      left: -50px;

      width: 15px;
      height: 15px;

      background-color: var(--prymary-color);
      border-radius: 999px;
    }

    &__title {
      position: relative;
      text-align: start;
    }

    @media (width <= 950px) {
      width: 80%;
    }
  }

  &__item-title {
    position: relative;
    display: inline-block;
    margin-left: 18.6px;

    &::after {
      content: '';

      position: absolute;
      z-index: -1;
      top: 50%;
      left: -40px;
      transform: translate(-50%, -50%);

      width: 36px;
      height: 36px;

      background-color: var(--prymary-color);
      border-radius: 9999px;
    }
  }

  &__item-sub-title {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-s);
  }

  &__item-header {
    position: relative;

    display: flex;
    align-items: end;

    margin-bottom: 12px;
    padding-left: 22px;

    &::after {
      content: '';

      position: absolute;
      z-index: -3;
      top: 50%;
      left: -43px;

      width: 55px;
      height: 1px;

      background: black;
    }
  }

  @media (width <= 767px) {
    margin-top: 46px;

    &__flex-wrapper {
      padding-inline: 3%;
    }

    &__resume-group {
      width: calc(100% - 50px);
    }

    &__paragraph {
      width: 75%;
    }
  }
}
