.promo {
  overflow: visible;
  width: 100%;
  height: 800px;

  &__title {
    margin-top: 9px;
  }

  &__photo {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    max-width: 1920px;
    height: 800px;
    max-height: 100vh;

    background: url('/assets/Background@2x.png') center no-repeat;
    background-size: cover;

    @media (max-width: 767px) {
      left: 0;
      transform: none;
      max-height: 640px;
    }
  }

  &__text-wrapper {
    display: inline-block;
    padding-top: 206px;

    @media (max-width: 1280px) {
      margin-left: 10px;
    }
  }

  &__link-wrapper {
    display: flex;
    gap: 44px;
    align-items: center;
    padding-top: 32px;
  }

  &__about {
    margin-left: 3px;
    transition: 0.2s;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      scale: 0.95;
    }
  }

  &__burger {
    cursor: pointer;

    position: fixed;
    z-index: 1;
    top: 20px;
    right: 30px;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 36px;
    height: 21px;
    padding: 0;

    background-color: transparent;
    border: none;

    &::before,
    &::after {
      content: '';

      position: absolute;

      width: 30px;
      height: 3px;

      background-color: var(--text-color);

      transition: all 0.3s ease 0s;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      transform: scale(1);
      width: 36px;
      height: 3px;
      background-color: var(--text-color);
    }

    &:hover {
      scale: 1.01;
    }
  }

  @media (max-width: 767px) {
    height: 640px;

    &__photo {
      position: absolute;
      top: 0;
      right: 0;
      left: auto;
      transform: none;

      width: 340px;
      height: 640px;

      background: url('/assets/BackgroundMobile.png') repeat;
      background-size: cover;
    }

    &__link-wrapper {
      padding-top: 32px;
    }

    &__burger {
      right: 20px;
    }
  }
}
