.promo {
  overflow: visible;
  width: 100%;
  height: 800px;

  &__photo {
    position: absolute;
    z-index: -1;
    top: 0;
    transform: translateX(-20%);

    width: 100%;
    max-width: 1920px;
    height: 800px;
    max-height: 100vh;

    background: url('/assets/Background.png') center no-repeat;
    background-size: cover;

    @media (width <= 1500px) {
      transform: none;
    }
  }

  &__text-wrapper {
    display: inline-block;
    margin-left: 10px;
    padding-top: 206px;
  }

  &__link-wrapper {
    display: flex;
    gap: 44px;
    align-items: center;
    padding-top: 25px;
  }

  &__portfolio {
    padding: 12px 26px;
    background-color: var(--prymary-color);
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 15%);
  }

  &__burger {
    cursor: pointer;

    position: fixed;
    z-index: 100;
    top: 20px;
    right: 30px;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 36px;
    height: 21px;
    padding: 0;

    background-color: transparent;
    border: none;

    &::before,
    &::after {
      content: '';

      position: absolute;

      width: 30px;
      height: 3px;

      background-color: #000;

      transition: all 0.3s ease 0s;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      transform: scale(1);
      width: 36px;
      height: 3px;
      background-color: #000;
    }

    &.active span {
      transform: scale(0);
    }

    &.active::before {
      top: 43%;
      transform: rotate(45deg);
      width: 36px;
      border-radius: 10px;
    }

    &.active::after {
      bottom: 43%;
      transform: rotate(-45deg);
      width: 36px;
      border-radius: 10px;
    }

    &:hover {
      scale: 1.01;
    }
  }

  @media (width <= 767px) {
    &__photo {
      transform: none;
      background-position-x: 60%;
    }

    &__text-wrapper {
      padding-left: 10px;
    }

    &__link-wrapper {
      padding-top: 32px;
    }

    &__burger {
      right: 20px;
    }
  }
}
